/**
 * Site header
 */
.site-header {
    border-top: 40px solid transparent;
    border-bottom: 5px solid $text-color;
    min-height: 86px;
    background: url(/images/symphony/symphony.png);

    // Positioning context for the mobile navigation icon
    position: relative;

    .wrapper {
        //border-bottom: 5px solid $text-color;
    }
}

/* body {
    background: url(/images/symphony/vintage_speckles_@2X.png);
    background-size: 400px 300px;
} */

.site-title {
    font-size: 106px;
    line-height: 86px;
    margin-bottom: -20px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none !important;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;

    &,
    &:visited {
        color: $text-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        bottom: 9px;
        right: 15px;
        background-color: $background-color;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit*2;
    text-align: center;
    font-size: 12px;
    color: $grey-color;
    background: #fff;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0 100px 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    text-align: center;

    img {
        max-height: 500px;
    }

    > li {
        margin: 0 0 $spacing-unit 0;
        overflow: hidden;

        .info {
            font-size: 28px;
            text-align: left;
            color: $grey-color-dark;
            padding-top: 50px;
        }

        .post-link {
            overflow: hidden;
            border: 1px solid $grey-color-light;
            display: block;
            background-color: #fff;

            &:hover, &:focus {
                border-color: $grey-color;
                text-decoration: none;
            }

            img {
                display: block;
                float: left;
                margin-right: 20px;
            }
        }
    }

    > li:nth-of-type(even) {
        .info {
            text-align: right;
        }

        .post-link {


            img {
                float: right;
                margin-right: 0;
                margin-left: 20px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .post-list {
        > li {
            .post-link {

                img {
                    margin: 0 !important;
                    float: none !important;
                    width: 100%;
                    max-height: none;
                }

                .info {
                    padding: 10px;
                    font-size: 24px;
                }
            }
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    img {
        width: 300px;
        float: left;
        margin-right: 30px;
        margin-bottom: 10px;
    }

    .price {
        font-size: 26px;
        font-weight: bold;
    }
}

.pagination {
    text-align: center;
    margin-top: 100px;

    * {
        margin: 0 10px;
    }

    .next, .previous {
        color: #fff !important;
        padding: 10px 15px;
        background-color: $text-color;
        text-decoration: none !important;
        position: relative;
    }

    span {
        color: $grey-color;
    }
}
